<!DOCTYPE html>
<html>
<head>
    <title>Spring Security Example </title>
</head>
<body>

    <h1 align="center">Login page</h1>

    <br><br>

    <form action="/login" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div><input type="submit" value="Sign In"/></div>
    </form>

    <br>

    If you have not registered yet: <br>
    <a href="/registration">Register</a>

</body>
</html>